@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

h2 {
  @include font(4.8rem, 400, 58px);
}

h3 {
  @include font(3.6rem, 400, 130%);
}

a {
  text-decoration: none;
}

.subtitle {
  @include font(24px, 400, 29px);
}