.wrapper {
  width: 1600px;
  height: 100%;
  margin: 0 auto;
}

.header {
  height: 80px;
  background: $color-dark;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & a {
    color: $color-light;
  }

  &__copyright {
    flex-grow: 1;
    text-align: right;
  }
  &__menu {
    margin-left: 63px;
  }
}

.menu {
  &__item {
    list-style: none;
    display: inline-block;
    margin-right: 58px;
  }
}