$color-dark: #000;
$color-light: #fff;

$color-text-dark: #333B41;

$color-brand: #F9804B;
$color-title-brand: #FE9013;


$color-highlight: #FFEE2E;


$color-btn-hover: #E47209;
$color-active: #4B9200;

$gradient-brand: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);