.card {
  position: relative;

  overflow: hidden;

  &__image {
    height: 366px;
    overflow: hidden;
    & img {
      transition: all 0.5s ease;
    }
  }

  &__data {
    padding: 10px 12px 6px 14px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @include font(1.6rem, 500, 1);
    text-transform: uppercase;
  }

  &__description {
    margin-top: 3px;
    @include font(1.5rem, 300, 1);
  }
  
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $color-dark;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__hover-data {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-light;
    text-align: center;
    h3 {
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    transition: all 0.5s ease;
  }

  &:hover > .card__image > img {
    transform: scale(1.1);
  }

  &:hover > .card__overlay {
    opacity: 0.7;
  }

  &:hover > .card__hover-data {
    top: 50%;
  }
}