.feed {
  padding-top: 69px;
  padding-bottom: 100px;
  color: $color-text-dark;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);

  &__wrapper {
    padding: 40px 100px 60px;
    border-radius: 20px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
  }

  &__title {
    text-align: center;
    margin-bottom: 30px;
    color: $color-title-brand;
  }

  &__title-second {
    margin-top: 60px;
    margin-bottom: 41px;
    text-align: center;

  }

  &__subtitle {
    margin-bottom: 40px;
  }

  &__covid {
    margin-bottom: 0;
  }

  &__cards-block {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 764px;
  }

  &__button {
    margin: 61px auto -1px;
  }

  .feed-card {
    width: 168px;

    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      height: 168px;
      background: $color-light;
      border-radius: 5px;
      border: 1px solid $color-brand;
    }
    &__text {
      @include font(1.6rem, 400, 140%);
    }
  }

  &__arrow {
    position: absolute;
    top: 61px;
    left: 197px;
    display: block;
    width: 70px;
    height: 36px;
    background: url("../assets/icons/arrow.svg") no-repeat;

    &:last-child {
      top: 57px;
      left: 495px;
    }
  }
}
