.header {
  height: 80px;
  background: $color-dark;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & a {
    color: $color-light;
  }

  &__copyright {
    flex-grow: 1;
    text-align: right;
  }
  &__menu {
    margin-left: 64px;
  }
}
